<header id="masthead" class="site-header" role="banner">
    <hgroup>
      <h1 class="site-title">
        <a href="<%- url_for() %>" title="<%= config.title %>" rel="home"><%= config.title %></a>
      </h1>
      <% if (theme.subtitle){ %>
        <h2 class="site-description">
          <!-- <a href="<%- url_for() %>" id="subtitle" class="helloTitle"><%= theme.subtitle %></a> -->
          <a href="<%- url_for() %>" id="subtitle" class="helloTitle">loading...</a>
        </h2>
      <% } else { %>
        <h2 class="site-description hitokoto"></h2>
        <script type="text/javascript" src="https://v1.hitokoto.cn/?encode=js"></script>
      <% } %>
    </hgroup>

    <nav id="site-navigation" class="main-navigation" role="navigation">
            <button class="menu-toggle">菜单</button>
            <a class="assistive-text" href="/#content" title="跳至内容">跳至内容</a><!--TODO-->
            <div class="menu-main-container">
                <ul id="menu-main" class="nav-menu">
                <% for (var i in theme.menu){ %>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
                <% } %>
                </ul>
            </div>
    </nav>
</header>

<script>
  function GetRandomNum(Min,Max)
   {
     var Range = Max - Min;
     var Rand = Math.random();
     return(Min + Math.round(Rand * Range));
   }
 function setSidebarMarginTop (headerOffset) {
     return $('#sidebar').css({ 'margin-top': headerOffset });
   }
  function getHeaderOffset () {
     return $('.header-inner').height();
   }
   window.onload=function(){
     var subtitle = "<%= theme.subtitle %>";
      var mytitle = subtitle.split("W");
      var max = mytitle.length-1;
      var index = GetRandomNum(0,max);
      var text = mytitle[index];
      $(".helloTitle").html(text);
      var headOffset = getHeaderOffset();
      setSidebarMarginTop(headOffset);
    // alert(getHeaderOffset());
   }
 </script>
